.App {
  text-align: center;
  align-items: center;
}

.App-link {
  color: #61dafb;
}

.Url {
  display: inline-block;
  width: 320px;
}

#videoElement {
  background-color: grey;
}

#panelElement {
  width: 320px;
  display: inline-block;
  font-size: small;
}
